@import '../../../../styles.scss';

.card-item {
    margin: 8px;

    mat-card-content {
        margin-top: 4px;
        text-align: center;
        display: flex;
        flex-direction: column;

        p {
            max-width: 240px;
        }
    }
}