<app-toolbar (searchValue)="searchCharacters($event)"></app-toolbar>
<div class="main-container"
    infiniteScroll
    [infiniteScrollDistance]="1"
    (scrolled)="onScroll()"
>
@for (character of charactersList; track character) {
    <app-character-list-item 
        [character]="character">
    </app-character-list-item>
    } 
</div>
<app-scroll-top-btn (scrollToTop)="scrollTop()"></app-scroll-top-btn>
@if(isLoading){
    <mat-spinner class="spinner"></mat-spinner>
    <div class="container-spinner"></div>
}